
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="thumbnail">
        <img
          src="https://th.bing.com/th/id/OIP.hihxM9RoILsIVgV1FNMZ4wAAAA?rs=1&pid=ImgDetMain"
          alt="iphone"
          style="width:100%"
          class="img-responsive"
        />
        <div class="caption">
          <p class="description">Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Eum ratione, nostrum totam similique iste a
            suscipit sequi, saepe nulla sit laboriosam deserunt, vitae possimus
            facilis vel molestiae? Velit, adipisci placeat!.
          </p>
          <div class="clearfix">
            <div class="price pull-left">$12</div>
            <button
              type="button"
              class="btn btn-success pull-right"
            >Button</button>
          </div>
        </div>
      </div>
    </div>
     <div class="col-md-4">
      <div class="thumbnail">
        <img
          src="https://th.bing.com/th/id/OIP.hihxM9RoILsIVgV1FNMZ4wAAAA?rs=1&pid=ImgDetMain"
          alt="iphone"
          style="width:100%"
          class="img-responsive"
        />
        <div class="caption">
          <p class="description">Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Eum ratione, nostrum totam similique iste a
            suscipit sequi, saepe nulla sit laboriosam deserunt, vitae possimus
            facilis vel molestiae? Velit, adipisci placeat!.
          </p>
          <div class="clearfix">
            <div class="price pull-left">$12</div>
            <button
              type="button"
              class="btn btn-success pull-right"
            >Button</button>
          </div>
        </div>
      </div>
    </div>
     <div class="col-md-4">
      <div class="thumbnail">
        <img
          src="https://th.bing.com/th/id/OIP.hihxM9RoILsIVgV1FNMZ4wAAAA?rs=1&pid=ImgDetMain"
          alt="iphone"
          style="width:100%"
          class="img-responsive"
        />
        <div class="caption">
          <p class="description">Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Eum ratione, nostrum totam similique iste a
            suscipit sequi, saepe nulla sit laboriosam deserunt, vitae possimus
            facilis vel molestiae? Velit, adipisci placeat!.
          </p>
          <div class="clearfix">
            <div class="price pull-left">$12</div>
            <button
              type="button"
              class="btn btn-success pull-right"
            >Button</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="thumbnail">
        <img
          src="https://th.bing.com/th/id/OIP.hihxM9RoILsIVgV1FNMZ4wAAAA?rs=1&pid=ImgDetMain"
          alt="iphone"
          style="width:100%"
          class="img-responsive"
        />
        <div class="caption">
          <p class="description">Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Eum ratione, nostrum totam similique iste a
            suscipit sequi, saepe nulla sit laboriosam deserunt, vitae possimus
            facilis vel molestiae? Velit, adipisci placeat!.
          </p>
          <div class="clearfix">
            <div class="price pull-left">$12</div>
            <button
              type="button"
              class="btn btn-success pull-right"
            >Button</button>
          </div>
        </div>
      </div>
    </div>
     <div class="col-md-4">
      <div class="thumbnail">
        <img
          src="https://th.bing.com/th/id/OIP.hihxM9RoILsIVgV1FNMZ4wAAAA?rs=1&pid=ImgDetMain"
          alt="iphone"
          style="width:100%"
          class="img-responsive"
        />
        <div class="caption">
          <p class="description">Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Eum ratione, nostrum totam similique iste a
            suscipit sequi, saepe nulla sit laboriosam deserunt, vitae possimus
            facilis vel molestiae? Velit, adipisci placeat!.
          </p>
          <div class="clearfix">
            <div class="price pull-left">$12</div>
            <button
              type="button"
              class="btn btn-success pull-right"
            >Button</button>
          </div>
        </div>
      </div>
    </div>
     <div class="col-md-4">
      <div class="thumbnail">
        <img
          src="https://th.bing.com/th/id/OIP.hihxM9RoILsIVgV1FNMZ4wAAAA?rs=1&pid=ImgDetMain"
          alt="iphone"
          style="width:100%"
          class="img-responsive"
        />
        <div class="caption">
          <p class="description">Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Eum ratione, nostrum totam similique iste a
            suscipit sequi, saepe nulla sit laboriosam deserunt, vitae possimus
            facilis vel molestiae? Velit, adipisci placeat!.
          </p>
          <div class="clearfix">
            <div class="price pull-left">$12</div>
            <button
              type="button"
              class="btn btn-success pull-right"
            >Button</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="thumbnail">
        <img
          src="https://th.bing.com/th/id/OIP.hihxM9RoILsIVgV1FNMZ4wAAAA?rs=1&pid=ImgDetMain"
          alt="iphone"
          style="width:100%"
          class="img-responsive"
        />
        <div class="caption">
          <p class="description">Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Eum ratione, nostrum totam similique iste a
            suscipit sequi, saepe nulla sit laboriosam deserunt, vitae possimus
            facilis vel molestiae? Velit, adipisci placeat!.
          </p>
          <div class="clearfix">
            <div class="price pull-left">$12</div>
            <button
              type="button"
              class="btn btn-success pull-right"
            >Button</button>
          </div>
        </div>
      </div>
    </div>
     <div class="col-md-4">
      <div class="thumbnail">
        <img
          src="https://th.bing.com/th/id/OIP.hihxM9RoILsIVgV1FNMZ4wAAAA?rs=1&pid=ImgDetMain"
          alt="iphone"
          style="width:100%"
          class="img-responsive"
        />
        <div class="caption">
          <p class="description">Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Eum ratione, nostrum totam similique iste a
            suscipit sequi, saepe nulla sit laboriosam deserunt, vitae possimus
            facilis vel molestiae? Velit, adipisci placeat!.
          </p>
          <div class="clearfix">
            <div class="price pull-left">$12</div>
            <button
              type="button"
              class="btn btn-success pull-right"
            >Button</button>
          </div>
        </div>
      </div>
    </div>
     <div class="col-md-4">
      <div class="thumbnail">
        <img
          src="https://th.bing.com/th/id/OIP.hihxM9RoILsIVgV1FNMZ4wAAAA?rs=1&pid=ImgDetMain"
          alt="iphone"
          style="width:100%"
          class="img-responsive"
        />
        <div class="caption">
          <p class="description">Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Eum ratione, nostrum totam similique iste a
            suscipit sequi, saepe nulla sit laboriosam deserunt, vitae possimus
            facilis vel molestiae? Velit, adipisci placeat!.
          </p>
          <div class="clearfix">
            <div class="price pull-left">$12</div>
            <button
              type="button"
              class="btn btn-success pull-right"
            >Button</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
